{% if user.is_authenticated %}
    <p>Current user: {{user.username}}</p>
    <a href = "{% url 'logout'%}"">log out</a>
{% else %}
    <p>Current user: None </p>
    <a href = "{% url 'login'%}"">log in</a>
{% endif %}

<h1>Books</h1>
{% if question_list %}
    <ul>
    {% for book in question_list %}
        <li><a href="/books/{{ book.id }}/">{{ book.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}
<h1>Authors</h1>
{% if author_list %}
    <ul>
    {% for author in author_list %}
        <li><a href="/books/a/{{ author.id }}/">{{ author.name}} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No authors are available.</p>
{% endif %}
<ul>
    <li><a href="/books/add/">add book</a></li>
    <li><a href="/books/add_a/">add author</a></li>
</ul>